fastapi==0.78.0
pydantic==1.10.21
uvicorn[standard]==0.17.6
python-multipart==0.0.19
python-dotenv~=1.0.1
aiosqlite==0.17.0
sqlalchemy==1.4.36
alembic==1.7.7
fastapi-users[sqlalchemy]==10.0.6
aiogoogle==5.15.0

#pydantic-settings~=2.8.1





